-#-if flash[:error]
-#  =flash[:error]
%br
.row
  .col-md-4
  .col-md-4
    = search_form_for @search do |f|
      = f.search_field :tags_name_cont,class:"form-control " ,maxlength:"64", placeholder:"Search"
      .search
        = f.submit "Search",class:"btn btn-default btn-sm"
      %br
      %br
    -@posts.each do|post|
      .ava
        -if post.user.image.for_post.blank? || !post.user.image.for_post.file.exists?
          = image_tag("default.png", size: "50x50", alt: "Avatar",class:"img-circle")
        -else
          = image_tag(post.user.image.for_post,class:"img-circle")
        %br
        .name
          %strong
            =post.user.username
      %br
      .panel.panel-default
        .panel-heading
          -#.row
          .pull-left
            .name
              %strong
                =link_to post.title,post_path(post.id)
          .timestamp
            =time_ago_in_words(post.created_at)
            ago
            .pull-right
              -if user_signed_in? && current_user.id == post.user.id
                =link_to "delete", post, method: :delete
        .panel-body
          %h5
            =truncate(post.content, length: 250, separator: ' ') { link_to  ' read more',  post_path(post.id) }
            -#.list-group
            -#  - @tags.each do |t|
            -#    .list-group-item.clip
            -#      = link_to t, tag_path(t.name)
            %br
              Tags:
              = raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
      -#%br
        -##tag_cloud
        -#  - tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class|
        -#    = link_to tag.name, tag_path(tag.name), class: css_class
        -#Tags: #{raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')}
        -#Tags: #{raw article.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')}
  .col-md-2
  .col-md-2
    .col-md-10
      .center
        %strong 10 popular tags
      .list-group
      - @tags.each do |t|
        .list-group-item.clap
          .center
            = link_to t, tag_path(t.name)
.center
  = paginate @posts,:theme => 'twitter-bootstrap-3'
-#.pull-right
-#  .list-group
-#    - @tags.each do |t|
-#      .list-group-item.clap
-#        = link_to t, tag_path(t.name)

