-#-if flash[:error]
-#  =flash[:error]
-@posts.each do|post|
  .row
    .col-md-3
    .col-sm-1
      .center
        -if post.user.image.for_post.blank? || !post.user.image.for_post.file.exists?
          = image_tag("default.png", size: "50x50", alt: "Avatar",class:"img-circle")
        -else
          = image_tag(post.user.image.for_post,class:"img-circle")
        %br
        %span.name
          %strong
            =post.user.username
    .col-md-4
      .panel.panel-default
        .panel-heading
          %span.name
            %strong
              =link_to post.title,post_path(post.id)
          %span.timestamp
            =time_ago_in_words(post.created_at)
            ago
          .pull-right
            -if user_signed_in? && current_user.id == post.user.id
              =link_to "delete", post, method: :delete
        .panel-body
          %h5
            =truncate(post.content, length: 250, separator: ' ') { link_to  ' read more',  post_path(post.id) }
        .panel-footer
          = render 'comments/new', post: post
          %br
          .com{id: post.id}
            = render 'comments/index', post: post
.row
  .col-md-3
  .col-md-5
    .center
      = paginate @posts,:theme => 'twitter-bootstrap-3'


